/*Import Google font for page*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import url('https://fonts.google.com/specimen/Montserrat+Alternates?query=montserrat&selection.family=Courgette|Montserrat+Alternates');

/*Mobile friendly first*/
  header nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
}

.group {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.item {
  flex: 1;
  margin: 10px;
}

item-double {
  flex: 2;
}

header nav {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}

header nav ul {
  display: flex;
  padding-left: 10px;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

@media all and (min-width: 800px) {
  .group {
    flex-direction: row;
  }

}

#intro, header {
  background-image: url(images/coding.png);
}

/*Set the background color of page*/
body {
  background-color: #EFEFEF;
  font-family: 'Montserrat Alternates';
}

/*Background and text color for headings and footer*/
header, #intro, #footer {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Courgette';
  padding: 10px;
}

#profile-picture  {
  text-align: center;
  margin: 20px;
}

/*Box size for intro*/
#intro {
  margin: 20px;
  padding: 20px;
}

/*Sizing and style for pictures*/
#santa-fe, #Eileen {
  width: 300px;
}

#Eileen {
  border-radius: 80%;
}

img {
  width: 100%;
}


/*Addtional styling for about me and contact me sections*/
.titles {
  color: rgb(58, 58, 161);
  font-family: 'Montserrat-Alternates';
  font-size: 30px;
  text-align: center;
}

/*Link attributes*/

a:hover {
  color: rgb(65, 168, 236);
}
a {
  font-size: 20px;
  color: black;
}

/*Styling for unordered and ordered lists*/
ul, ol {
  list-style-position: inside;
}

/*Footer styling*/
#footer {
  margin: 5px;
  padding: 20px;
}

/*Form Styling*/
form input,
form textarea {
  width: 100%;
  margin: 20px;
}

form textarea {
  height: 120px;
}